// Footer
.footer {
  padding: 100px 0 60px;
  background-color: var(--secondary-color);

  @media (max-width: $breakpoint1450) {
    padding: 80px 0 40px;
  }

  @media (max-width: $breakpoint992) {
    padding: 50px 0 20px;
  }

  @media (max-width: $breakpoint768) {
    padding: 30px 0 16px;
  }

  // .footer__inner

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    @media (max-width: $breakpoint768) {
      row-gap: 20px;
    }
  }

  // .footer__top

  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 20px;

    @media (max-width: $breakpoint992) {
      display: grid;
      grid-template-columns: 1fr 110px 240px;
      row-gap: 40px;
      column-gap: 60px;
    }

    @media (max-width: $breakpoint768) {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 60px;
      row-gap: 60px;
      column-gap: 20px;
    }
  }

  // .footer__nav

  &__nav {
    flex: 0 1 714px;
    width: 100%;

    @media (max-width: $breakpoint1450) {
      flex: 0 1 580px;
    }

    @media (max-width: $breakpoint992) {
      order: 2;
    }

    @media (max-width: $breakpoint768) {
      flex: 0 1 calc(100% - 200px);
    }
  }

  // .footer__list

  &__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 20px;
    width: fit-content;

    @media (max-width: $breakpoint992) {
      flex-direction: column;
      row-gap: 20px;
    }
  }

  // .footer__item

  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  // .footer__item-link

  &__item-link {
    display: inline-flex;
    font-size: 18px;
    color: var(--white-color);

    @media (max-width: $breakpoint1450) {
      font-size: 16px;
    }

    @media (max-width: $breakpoint992) {
      font-size: 18px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 16px;
    }
  }

  // .footer__contacts

  &__contacts {
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    @media (max-width: $breakpoint992) {
      order: 4;
    }
  }

  // .footer__contact

  &__contact {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  // .footer__contact-label

  &__contact-label {
    font-size: 24px;
    line-height: 100%;
    color: var(--white-color);

    @media (max-width: $breakpoint1450) {
      font-size: 20px;
    }

    @media (max-width: $breakpoint992) {
      font-size: 24px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 20px;
    }
  }

  // .footer__contact-text

  &__contact-text {
    font-style: normal;
    font-size: 18px;
    line-height: 100%;
    color: var(--white-color);

    @media (max-width: $breakpoint1450) {
      font-size: 16px;
    }

    @media (max-width: $breakpoint992) {
      font-size: 18px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 16px;
    }
  }

  // .footer__socials

  &__socials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;

    @media (max-width: $breakpoint1450) {
      column-gap: 12px;
      row-gap: 12px;
    }

    @media (max-width: $breakpoint992) {
      order: 2;
    }

    @media (max-width: $breakpoint768) {
      order: 3;
      flex: 0 0 110px;

      grid-template-columns: repeat(2, 1fr);
    }
  }

  // .footer__social

  &__social {}

  // .footer__social-link

  &__social-link {
    @media (max-width: $breakpoint1450) {
      img {
        width: 36px;
        height: 36px;
      }
    }

    @media (max-width: $breakpoint992) {
      img {
        width: 48px;
        height: 48px;
      }
    }
  }

  // .footer__logos

  &__logos {
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    @media (max-width: $breakpoint992) {
      order: 3;
    }

    @media (max-width: $breakpoint768) {
      order: 1;
      flex: 0 1 100%;
    }
  }

  // .footer__logo

  &__logo {
    img {
      max-width: 100%;
      height: auto;
    }

    @media (max-width: $breakpoint768) {
      text-align: center;
    }
  }

  // .footer__registr

  &__registr {
    font-size: 14px;
    font-weight: 400;
    color: var(--white-color);

    @media (max-width: $breakpoint768) {
      display: none;
    }
  }

  // .footer__copy

  &__copy {
    font-size: 12px;
    font-weight: 400;
    color: var(--white-color);
  }

  &__copy--registr-mobile {
    display: none;

    @media (max-width: $breakpoint768) {
      display: block;
    }
  }
}