.form {
  padding: 70px 40px;
  background: url('../img/callback/form-bg.png'), #232323 no-repeat;
  background-size: cover;
  // mix-blend-mode: overlay;
  border-radius: 20px;

  @media (max-width: $breakpoint992) {
    padding: 30px 20px;
  }

  // .form__inner

  &__inner {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;

    @media screen and (max-width: 1300px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
      row-gap: 20px;
    }
  }

  // .form__main

  &__main {
    flex: 0 1 520px;

    @media screen and (max-width: 1300px) {
      flex: 0 1 auto;
      width: 100%;
    }

  }

  // .form__title

  &__title {
    margin-bottom: 24px;
    font-size: 28px;
    color: var(--white-color);

    @media (max-width: $breakpoint992) {
      margin-bottom: 20px;
      font-size: 18px;
    }
  }

  // .form__descr

  &__descr {
    margin-bottom: 24px;
    font-size: 18px;
    color: var(--white-color);

    @media (max-width: $breakpoint992) {
      margin-bottom: 20px;
      font-size: 14px;
      text-align: left;
    }
  }

  // .form__groups

  &__groups {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 24px;
    margin-bottom: 20px;

    @media screen and (max-width: 1300px) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 20px;
    }
  }

  // .form__group

  &__group {
    position: relative;
  }

  // .form__input

  &__input {
    width: 100%;
    height: 68px;
    padding: 10px 20px 10px 40px;
    border-radius: 10px;
    border: 2px solid #d7d7d7;
    background-color: #f4f4f4;
    outline: 0;
    font-family: var(--primary-font);
    font-size: 16px;
    color: var(--black-color);
    transition: border 0.2s linear;

    @media (max-width: $breakpoint992) {
      height: 40px;
    }

    &.error {
      border-color: red;

      &::placeholder {
        color: red;
      }
    }

    &::placeholder {
      font-family: var(--primary-font);
      font-size: 16px;
      color: #b4b4b4;

      @media (max-width: $breakpoint992) {
        font-size: 14px;
      }
    }

    &:hover {
      border: 2px solid var(--primary-color);
    }

    &:focus {
      border: 2px solid var(--primary-color);
    }
  }

  // .form__icon

  &__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
  }

  // .form__btn

  &__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    width: 100%;
    padding: 18px 20px 18px 14px;
    border-radius: 10px;
    background-color: var(--primary-color);
    border: 2px solid transparent;
    outline: 0;
    color: var(--white-color);
    font-size: 18px;
    line-height: 120%;
    transition: border 0.2s linear, background-color 0.2s linear, color 0.2s linear;

    &:hover {
      border: 2px solid var(--primary-color);
      background-color: var(--white-color);
      color: var(--black-color);

      .form__btn-icon {
        transform: translateX(3px);
        filter: invert(1);
      }
    }

    @media (max-width: $breakpoint992) {
      padding: 10px 20px;
      font-size: 14px;
    }
  }

  // .form__btn-text

  &__btn-text {}

  // .form__btn-icon

  &__btn-icon {
    transition: transform 0.2s linear;
  }

  // .form__contacts

  &__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    flex: 0 1 280px;

    @media screen and (max-width: 1300px) {
      flex: 0 1 auto;
      align-items: center;
    }
  }

  // .form__time

  &__time {
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--white-color);

    @media (max-width: $breakpoint1450) {
      font-size: 20px;
    }

    @media screen and (max-width: 1300px) {
      font-size: 12px;

      br {
        display: none;
      }
    }
  }

  // .form__socials

  &__socials {
    margin-top: auto;
  }

  // .form__socials-label

  &__socials-label {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 140%;
    color: var(--white-color);

    @media screen and (max-width: 1300px) {
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  // .form__socials-links
  &__socials-links {
    display: flex;
    align-items: center;
    column-gap: 20px;
    justify-content: flex-end;

    @media screen and (max-width: 1300px) {
      justify-content: center;
    }
  }

  // .form__socials-link

  &__socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;

    svg path {
      transition: fill 0.2s linear;
    }

    @media (hover: hover) {
      &:hover {
        svg path {
          fill: var(--primary-color);
        }
      }
    }

  }
}

.form__group--select {

  option {
    padding: 10px;
    font-size: 16px;
  }

  &::after {
    position: absolute;
    content: '';
    right: 10px;
    top: 50%;
    width: 20px;
    height: 20px;
    transform: translateY(-50%) rotate(90deg);
    background-image: url('../img/icons/arrow-right.svg');
    background-repeat: no-repeat;
    filter: invert(1);
  }
}

.form__input--select {
  position: relative;
  padding: 10px 20px;

  appearance: none;
  /* safari */
  -webkit-appearance: none;
  /* other styles for aesthetics */


}


.form__input--textarea {
  resize: none;
  height: 100px;

  &::placeholder {
    padding-top: 30px;
    vertical-align: middle;
  }

  @media (max-width: $breakpoint992) {
    height: 100px;
  }
}

.form__checkbox-label {
  display: flex;
  align-items: center;
  column-gap: 10px;
  text-align: left;
  cursor: pointer;
}

.form__checkobox {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -100;

  &:checked~.form__checkobox-decor {
    background: var(--primary-color);
  }
}

.form__checkobox-decor {
  width: 25px;
  min-width: 25px;
  height: 25px;
  border-radius: 2px;
  border: 1px solid #D7D7D7;
  background: #F4F4F4;
}

.form__checkobox-text {
  font-size: 12px;
}