// Container
.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint1450) {
    // max-width: 1200px;
  }

  @media (max-width: $breakpoint992) {
    max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    max-width: none;
  }
}

// Body Locked
body {
  background-color: var(--directions-bg);
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--black-color);

  @media (max-width: $breakpoint992) {
    background-color: var(--white-color);
  }


  &.locked {
    overflow: hidden;
  }
}

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
}

.main__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  flex-grow: 1;
}

// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}