.news-page {

  // .news-page__inner

  &__inner {

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 1782.197px;
      height: 100%;
      background-image: url('../img/news-page/bg.svg');
      background-repeat: no-repeat;
      background-repeat: repeat-y;
      background-position: top right;
      user-select: none;
      pointer-events: none;
      // z-index: -1;

      @media (max-width: $breakpoint992) {
        width: 100%;
        height: 100%;
      }
    }

  }

  // .news-page__list

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  // .news-page__item

  &__item {
    display: flex;
    align-items: flex-start;
    column-gap: 32px;
    background-color: var(--white-color);
    border-radius: 20px;
    max-height: 476px;
    overflow: hidden;

    transition: max-height 0.3s linear;

    &.desktop-more {
      max-height: max-content;

      .more-text-btn {
        display: flex;
      }

      .news-page__item-info.more {

        .news-page__item-texts {
          display: flex;
          text-overflow: inherit;
        }
      }
    }

    @media (max-width: $breakpoint1450) {
      column-gap: 20px;
      max-height: 320px;
    }

    @media (max-width: $breakpoint992) {
      display: grid;
      grid-template-columns: 320px 1fr;
      column-gap: 16px;
      row-gap: 16px;
      max-height: max-content;
    }

    @media (max-width: $breakpoint768) {
      display: flex;
      flex-direction: column;
      border-radius: 10px;
    }
  }

  // .news-page__item-pic

  &__item-pic {
    flex: 0 0 500px;
    height: 476px;
    border-radius: 20px;
    background-color: #f8f8f8;

    img {
      max-width: 500px;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      object-fit: cover;
    }

    @media (max-width: $breakpoint1450) {
      flex: 0 0 320px;
      height: 320px;
    }

    @media (max-width: $breakpoint992) {
      flex: 0 0 320px;
      height: 240px;
    }

    @media (max-width: $breakpoint768) {
      flex: 0 1 auto;
      width: 100%;
      text-align: center;
    }
  }

  // .news-page__item-info

  &__item-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding: 16px 32px 16px 0;

    @media (max-width: $breakpoint1450) {
      align-items: flex-start;
      height: 100%;
      padding: 0 0 0 0;
    }

    @media (max-width: $breakpoint992) {
      &.more {

        .news-page__item-texts {
          display: flex;
          text-overflow: inherit;
        }
      }
    }

    @media (max-width: $breakpoint768) {
      padding: 0 16px 16px 16px;
    }
  }

  // .news-page__item-title

  &__item-title {
    font-size: 24px;
    line-height: 136%;

    @media (max-width: $breakpoint1450) {
      font-size: 22px;
    }

    @media (max-width: $breakpoint992) {
      order: 1;
    }

    @media (max-width: $breakpoint768) {
      font-size: 18px;
    }
  }

  // .news-page__item-dates

  &__item-dates {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-left: auto;
    margin-right: 10px;

    @media (max-width: $breakpoint992) {
      order: 3;

      display: flex;
      align-items: center;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-left: 0;
      margin-top: auto;
      margin-right: 0;
    }
  }

  // .news-page__item-date

  &__item-date {
    font-size: 12px;
    line-height: 100%;
    color: var(--secondary-color);
    opacity: 0.6;
  }

  // .news-page__item-more

  &__item-more {}

  // .news-page__item-texts

  &__item-texts {
    flex: 0 1 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;


    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 17;
    -webkit-line-clamp: 17;
    line-clamp: 17;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;

    transition: all 0.3s linear;


    color: var(--secondary-color);
    font-size: 20px;
    line-height: 124%;

    p {
      color: var(--secondary-color);
      font-size: 20px;
      line-height: 124%;
    }

    a {
      color: var(--secondary-color);
    }

    @media (max-width: $breakpoint1450) {
      font-size: 16px;


      -ms-line-clamp: 14;
      -webkit-line-clamp: 14;
      line-clamp: 14;

      p {
        font-size: 16px;
      }
    }


    @media (max-width: $breakpoint992) {
      order: 2;

      -ms-line-clamp: 8;
      -webkit-line-clamp: 8;
      line-clamp: 8;
    }

    @media (max-width: $breakpoint768) {

      -ms-line-clamp: 4;
      -webkit-line-clamp: 4;
      line-clamp: 4;
    }
  }
}