// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1720;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98+px;
$breakpoint992: 991.98+px;
$breakpoint768: 767.98+px;
$breakpoint480: 479.98+px;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: 'black';
$burgerActiveColor: 'white';

:root {
  //fonts
  --primary-font: "Roboto", sans-serif;

  //colors  
  --primary-color: #76B662;
  --secondary-color: #232323;
  --black-color: #000;
  --white-color: #fff;
}